[Unit]
Description=Launch lan

[Service]
Environment="ARGS=%I"

Type=oneshot
#ExecStart=/bin/bash -x -c "/usr/bin/ifconfig enp2s0 $${ARGS% *}"
#ExecStart=/bin/bash -x -c "/usr/bin/route add default gw $${ARGS#* }"
ExecStart=/bin/bash -x -c "/usr/bin/ifconfig $(echo $ARGS |cut -d' ' -f1) $(echo $ARGS |cut -d' ' -f2) up"
ExecStart=/bin/bash -x -c "/usr/bin/route add default gw $(echo $ARGS |cut -d' ' -f3)"

[Install]
WantedBy=multi-user.target
