[gerrit]
	basePath = git
	serverId = dd2ded42-11d4-4161-91b9-0b3d5917ff20
	canonicalWebUrl = http://172.31.8.88
[database]
	type = mysql
	hostname = localhost
	database = reviewdb
	username = gerrit
[index]
	type = LUCENE
[auth]
	type = LDAP
[ldap]
	server = ldap://localhost
	accountBase = ou=people,dc=zjrealtech,dc=com
	accountPattern = (&(objectClass=person)(cn=${username}))
	accountFullName = cn
	accountMemberField = memberOf
	accountEmailAddress = mail
	groupBase = ou=groups,dc=zjrealtech,dc=com
	groupMemberPattern = (&(objectClass=group)(member=${dn}))
	sslVerify = false
[receive]
	enableSignedPush = false
[sendemail]
	smtpServer = smtp.qiye.163.com
	smtpServerPort = 465
	smtpEncryption = ssl
	smtpUser = gerrit@zjrealtech.com
	smtpPass = yon2@realtech
	sslVerity = false
	from = CodeReview<gerrit@zjrealtech.com>
[container]
	user = gerrit2
	javaHome = /usr/lib/jvm/java-1.8.0-openjdk-1.8.0.161-0.b14.el7_4.x86_64/jre
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = proxy-http://*:8080/
[cache]
	directory = cache
