[Unit]
Description=Weekly upgrade of archlinux

[Timer]
#OnCalendar=daily
OnCalendar=weekly
AccuracySec=12h
Persistent=true

[Install]
WantedBy=multi-user.target
